{% extends 'SonataAdminBundle:CRUD:show_array.html.twig' %}
{% set idRand = random() %}
{% block field%}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/languages/yaml.min.js"></script>
    <style> samp {
            font-family: monospace, monospace;
            font-size: 1.2em;
        }</style>
    <script>$(document).ready(function() {
            $('code').each(function(i, block) {
                hljs.highlightBlock(block);
            });

            $('.nav-tabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });

    </script>
    {% if(value is null or value == false) %}
        <i class="text-muted">None</i>
    {%  elseif(value is iterable) %}
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#json-{{ idRand }}"  role="tab" data-toggle="tab">JSON</a></li>
            <li role="presentation" class=""><a href="#dump-{{ idRand }}" role="tab" data-toggle="tab">Dump</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="json-{{ idRand }}">
                    <pre><textarea class="form-control" rows="{{ value|length +3 }}">{%  spaceless %}
                        {%  if(value is iterable) %}
                            {{  value|json_encode(constant('JSON_PRETTY_PRINT')) }}
                        {% endif %} {%  endspaceless %}</textarea></pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="dump-{{ idRand }}">
                 {%  spaceless %}
                    {%  if(value is iterable) %}
                        {{  dump(value) }}
                    {% endif %}
                 {%  endspaceless %}
            </div>

        </div>

    </div>
    {% else %}
    <pre><code>{{ value }}</code></pre>
    {% endif %}


{% endblock %}